/* SignUp.css */

/* Apply Bootstrap styles for responsiveness */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

/* Custom styles for the signup form */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 50px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #003366; /* Darker color when button is clicked */
}

/* Add more styles as needed for your specific design preferences */

/* Add the following style for error messages with a red background */
.error-message {
  background-color: #ffcccc; /* Light red */
  color: #ff0000; /* Dark red */
  padding: 8px;
  border-radius: 4px;
  margin-top: 5px;
}

/* Add the following style for loading effect */
.loading-text {
  display: none;
  color: #007bff; /* Loading text color */
}

.loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 4px solid #007bff; /* Loading spinner color */
  border-radius: 50%;
  border-top: 4px solid #f8f9fa; /* Background color */
  animation: spin 1s linear infinite; /* Rotate animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.password-input {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}


.password-input-container {
  position: relative;
}

.password-input-container button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

